{% extends "layout.html" %}
{% block content %}
<main role="main" class="inner cover">
  <form method="POST" action="">
  {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="mb-2">Add a Device</legend>
      <div class="form-group">
        {{ form.serial.label(class="form-control-label") }}

        {% if form.serial.errors %}
          {{ form.serial(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.serial.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.serial(class="form-control") }}
        {% endif %}

      </div>
      <div class="form-group">
        {{ form.line.label(class="form-control-label") }}

        {% if form.line.errors %}
          {{ form.line(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.line.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.line(class="form-control") }}
        {% endif %}

      </div>
      <div class="form-group">
        {{ form.customer.label(class="form-control-label") }}
        {{ form.customer(class="form-control form-control-sm") }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</main>
{% endblock content %}
